{% extends "admin/change_list.html" %}
{% load i18n admin_urls %}
{% block content_title %}
    <h1> Courses Summary </h1>
{% endblock %}
{% block result_list %}

    <div id='myChart'></div>
		<script src= "https://cdn.zingchart.com/zingchart.min.js"></script>
		<script> zingchart.MODULESDIR = "https://cdn.zingchart.com/modules/";
		ZC.LICENSE = ["569d52cefae586f634c54f86dc99e6a9","ee6b7db5b51705a13dc2339db3edaf6d"];</script>
    <script type="text/javascript">

      var myConfig = {
  type: "bar",
  scaleX:{
    values:[
    {% for course in courses %}
    '{{ course }}',
    {% endfor %}
    ]
},
  series: [
    {
      values:[
    {% for count in completed %}
    {{ count }},
    {% endfor %}
    ]
    },
    {
      values:[
    {% for count in not_completed %}
    {{ count }},
    {% endfor %}
    ]
    }
  ]
};

zingchart.render({
	id : 'myChart',
	data : myConfig,
	height: "100%",
	width: "80%",
  overflow: "visible"
});
  document.getElementById('myChart').style.overflow = 'visible';
    </script>




{% endblock %}
{% block pagination %}{% endblock %}
