{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% include "website/gtag.html" %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

   
   <!--CUSTOM STYLESHEET-->
   <link rel="stylesheet" href="{% static 'website/css/custom_style.css' %}">
   
   <!--GOOGLE FONTS-->
   <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
   
   <!--FONT AWESOME ICONS-->
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <title>Home</title>
  </head>
  <body>
    
    
    	<!--Contact Section-->
    		<section id="upper_contact_section">
    		<nav>
    			<div class="container">
    				<div class="row">
    					<div class="col-md-6 col-lg-6 col-sm-6 col-xs-12" style="padding-top: 10px;">
    						<p>PHONE: <span style="margin-left: 10px;">9820338794</span></p>
    					</div>
    					<div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 float-right" style="padding-top: 10px;">
    						<ul class="float-right">
    							<li><a href="">Follow Us :</a></li>
    							<li><a href=""><i class="fab fa-facebook-f"></i></a></li>
    							<li><a href=""><i class="fab fa-instagram"></i></a></li>
    							<li><a href=""><i class="fab fa-twitter"></i></a></li>
    						</ul>
    					</div>
    				</div>
    			</div>
    		</nav>
    		</section>
    	<!--Contact Section endss-->
    
    	<!--NAVBAR START -->
    		<section>
    			<nav class="navbar navbar-expand-lg navbar-light bg-light top-navbar" data-toggle="sticky-onscroll">
    			<div class="container">
				  <a class="navbar-brand" href="#" style="padding-right: 150px;"><img src="{% static 'website/images/logo.png' %}" alt=""></a>
				  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				  </button>
				  <div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav ml-auto">
					  <li class="nav-item active">
						<a class="nav-link" href="#upper_contact_section">Home <span class="sr-only">(current)</span></a>
					  </li>
                      {% if user.is_authenticated %}
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'course_list' %}">My Courses</a>
                      </li>
                      <!--<li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Account
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="#"><i class="fas fa-user"></i> My Profile</a>
                          <a class="dropdown-item" href="#"><i class="fas fa-chart-line"></i> Learning Journey</a>
                          <a class="dropdown-item" href="#"><i class="fas fa-tasks"></i> Progress</a>
                        </div>
                      </li>-->
                      <li class="nav-item" style="padding-top: 1px;">
                        <a href="{% url 'logout' %}"><button class="btn btn-primary">Logout</button></a>
                      </li>
                      {% else %}
                      
                      
                      <li class="nav-item" style="padding-top: 1px;">
                        <a href="{% url 'login' %}"><button class="btn btn-primary">Login</button></a>
                      </li>
                      {% endif %}
					  <!--<li class="nav-item">
						<a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
					  </li>-->
					</ul>
					<!--<form class="form-inline my-2 my-lg-0">
					  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
					  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
					</form>-->
				  </div>
				 </div>
				</nav>
    		</section>
    	<!--NAVBAR ENDS-->
    	
    	
    	
    	<!--MAIN CONTENT SECTION-->
    		<section id="content_text">
    			<div class="container">
    				<div class="row">
    					<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
    						<h1 class="text-center">Learning Can Emerge As Spontaneous Order At the Edge Of Chaos.</h1>
    						<center><a href="{% url 'login' %}" class="btn btn-primary">Get started</a></center>
    					</div>
    				</div>
    			</div>
    		</section>
    	<!--MAIN CONTENT SECTION ENDS-->
    	
    	
    	<!--COURSES FOR YOU SECTION-->
    	<!--	<section id="courses_for_you">
    			<div class="container">
    				<div class="row">
    					<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12" style="padding-bottom: 50px;">
    						<h2><strong>Courses For You</strong></h2>
    					</div>
    				</div>
    				<div class="row">
    					<div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
    						<div class="card" style="width: 22rem;">
								<img src="../images/course_1.jpg" class="card-img-top" alt="Course 1 Image">
								 	<div class="card-body">
										<h5 class="card-title">Card title</h5>
										<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
										<a href="#" class="btn btn-primary">Start Learning</a>
								  </div>
							</div>
   						</div>
   						<div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
    						<div class="card" style="width: 22rem;">
								<img src="../images/course_1.jpg" class="card-img-top" alt="Course 1 Image">
								 	<div class="card-body">
										<h5 class="card-title">Card title</h5>
										<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
										<a href="#" class="btn btn-primary">Start Learning</a>
								  </div>
							</div>
   						</div>
   						<div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
    						<div class="card" style="width: 22rem;">
								<img src="../images/course_1.jpg" class="card-img-top" alt="Course 1 Image">
								 	<div class="card-body">
										<h5 class="card-title">Card title</h5>
										<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
										<a href="#" class="btn btn-primary btn-block">Start Learning</a>
								  </div>
							</div>
   						</div>
					</div>
				</div>
    		</section>-->
    	<!--COURSES FOR YOU SECTION ENDS-->
    	
    	
    	
    	<section id="s_map" style="margin-top: 50px;">
    		<div class="container">
    			<div class="row">
    				<div class="col-md-5 col-lg-5 col-sm-12 col-xs-12">
    					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d243433.810480276!2d78.34319423701157!3d17.57168629439565!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb86398e77d213%3A0x6b13a2c14f2e3e62!2sShantha+Biotechnics+Private+Limited!5e0!3m2!1sen!2sin!4v1551512140874" width="400" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    				</div>
    				<div class="col-md-7 col-lg-7 col-sm-12 col-xs-12">
    					<div id="s_content">
    						<h1>What We Do </h1>
    						 <p style="text-align: justify;">Shantha Biotechnics is an Indian biotechnology company based in Hyderabad. It is the first Indian company to develop, manufacture and market recombinant human healthcare products in India. The company is a wholly owned subsidiary of Sanofi group.
    						 The genesis of Shantha Biotechnics, Ltd. can be traced back to the initiatives of Dr.K.I.Varaprasad Reddy and Khalil Ahmed. Varaprasad and Ahmed established the company in 1993 to produce cost-effective drugs to reach the common man at an affordable price, while maintaining International standards in quality. The project originated as an R&D outfit at the Osmania University under the industry-university interactive programme in 1993, and later operated out of the Center for Cellular and Molecular Biology until an independent R&D facility was built.</p>
    						 <!-- <p><a href="">Read More...</a></p> -->
    					</div>
    				</div>
    			</div>
    		</div>
    	</section>
    	
    	<!--FOOTER SECTION-->
    		<section id="footer_section">
    			<div class="container">
    				<div class="row">
    					<div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
    						<h4>Quick Links</h4>
    						<div class="hr_line"></div>
    						<p>HOME</p>
    					</div>
    					<div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
    						<h4>About Us</h4>
    						<div class="hr_line"></div>
    						<p>HOME</p>
    					</div>
    					<div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
    						<h4>Contact Us</h4>
    						<div class="hr_line"></div>
    						<p>HOME</p>
    					</div>
    				</div>
    			</div>
    		</section>
    	<!--FOOTER SECTION ENDS-->
    	
    
    
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    

    <!-- Begin of Chaport Live Chat code -->
<script type="text/javascript">
(function(w,d,v3){
w.chaportConfig = { appId : '5c7aafbb96553c1ae0cfa14c' };

if(w.chaport)return;v3=w.chaport={};v3._q=[];v3._l={};v3.q=function(){v3._q.push(arguments)};v3.on=function(e,fn){if(!v3._l[e])v3._l[e]=[];v3._l[e].push(fn)};var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://app.chaport.com/javascripts/insert.js';var ss=d.getElementsByTagName('script')[0];ss.parentNode.insertBefore(s,ss)})(window, document);
</script>
<!-- End of Chaport Live Chat code -->


  </body>
</html>