{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% include "website/gtag.html" %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

   
   <!--CUSTOM STYLESHEET-->
   <link rel="stylesheet" href="{% static 'website/css/login.css' %}">
   
   <!--GOOGLE FONTS-->
   <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
   
   <!--FONT AWESOME ICONS-->
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <title>Login</title>
  </head>
  <body>
    
    
    	<!--Contact Section-->
    		<section class="upper_contact_section">
    			<div class="container">
    				<div class="row">
    					<div class="col-md-6 col-lg-6 col-sm-6 col-xs-12" style="padding-top: 10px;">
    						<p>PHONE: <span style="margin-left: 10px;">9820338794</span></p>
    					</div>
    					<div class="col-md-6 col-lg-6 col-sm-6 col-xs-12" style="padding-top: 10px;">
    						<ul>
    							<li><a href="">Follow Us :</a></li>
    							<li><a href=""><i class="fab fa-facebook-f"></i></a></li>
    							<li><a href=""><i class="fab fa-instagram"></i></a></li>
    							<li><a href=""><i class="fab fa-twitter"></i></a></li>
    						</ul>
    					</div>
    				</div>
    			</div>
    		</section>
    	<!--Contact Section endss-->
    
    	<!--NAVBAR START -->
    		<section>
    			<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
				  <div class="container">
				  <a class="navbar-brand" href="#" style="padding-left: 100px;padding-right: 150px;"><img src="../images/logo.png" alt=""></a>
				  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				  </button>

				  <div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav ml-auto">
					  <li class="nav-item active">
						<a class="nav-link" href="{% url 'index' %}">Back to Home <span class="sr-only">(current)</span></a>
					  </li>
					  <!--<li class="nav-item">
						<a class="nav-link" href="#">My Courses</a>
					  </li>
					  <li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						  Account
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						  <a class="dropdown-item" href="#"><i class="fas fa-user"></i> My Profile</a>
						  <a class="dropdown-item" href="#"><i class="fas fa-chart-line"></i> Learning Journey</a>
						  <a class="dropdown-item" href="#"><i class="fas fa-tasks"></i> Progress</a>
						</div>
					  </li>
					  
					  <li class="nav-item" style="padding-top: 1px;">
					  	<a href=""><button class="btn btn-primary">Login</button></a>
					  </li>
					  <!--<li class="nav-item">
						<a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
					  </li>-->
					</ul>
					<!--<form class="form-inline my-2 my-lg-0">
					  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
					  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
					</form>-->
				  </div>
				  </div>
				</nav>
    		</section>
    	<!--NAVBAR ENDS-->
 
   		<!--LOGIN FORM STARTS-->
   			
   			
				,<!--<center><section id="login_form">
					<h2 class="text-center">Login</h2>
					<form action="">
						<div class="input-group mb-3">
						  <div class="input-group-prepend">
							<span class="input-group-text" id="basic-addon1"><i class="fas fa-user-shield"></i></span>
						  </div>
						  <input type="text" class="form-control" placeholder="Enter Your Username" aria-label="Username" aria-describedby="basic-addon1" style="width: 50%;">
						</div>
						<div class="input-group mb-3">
						  <div class="input-group-prepend">
							<span class="input-group-text" id="basic-addon1"><i class="fas fa-key"></i></span>
						  </div>
						  <input type="password" class="form-control" placeholder="Enter Your Password" aria-label="Username" aria-describedby="basic-addon1" style="width: 50%;">
						</div>
						<a href="" class="text-left" style="color: black;">Forgot Password?</a>
						<!--<hr class="seperate"-->
						<!--<center><button class="btn btn-primary">Submit</button></center>
					</form>
				</section>
  			</center>-->
   			
   		<!--LOGIN FORM ENDS-->
   		
	  <!--MULTI COLUMN LOGIN FORM-->
	  	<section id="second_style_form">
	  		<div class="container">
	  			<div class="row">
	  			
	  				<div class="col-md-6 col-lg-6 col-sm-12 col-xs-12" style="line-height:30px;">
	  					<h1 class="text-left">Why Are you Here </h1>
	  					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
	  				</div>
	  				
	  				<div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
	  					<section id="login_form">
					<h2 class="text-center">Login</h2>
					<form  method="post">
						{% csrf_token %}
						<div class="input-group mb-3">
						  <div class="input-group-prepend">
							<span class="input-group-text" id="basic-addon1"><i class="fas fa-user-shield"></i></span>
						  </div>
						  <!-- <input type="text" class="form-control" placeholder="Enter Your Username" aria-label="Username" aria-describedby="basic-addon1" style="width: 50%;"> -->
						  {{ form.username }}
						</div>
						<div class="input-group mb-3">
						  <div class="input-group-prepend">
							<span class="input-group-text" id="basic-addon1"><i class="fas fa-key"></i></span>
						  </div>
						  <!-- <input type="password" class="form-control" placeholder="Enter Your Password" aria-label="Username" aria-describedby="basic-addon1" style="width: 50%;"> -->
						  {{ form.password }}
						</div>
						<!-- <a href="" class="forgot_text">Forgot Password?</a> -->
						<!--<hr class="seperate"-->
						<center><button type="submit" class="btn btn-primary">Submit</button></center>
					</form>
				</section>
					</div>
	  			</div>
	  		</div>
	  	</section>	
	  <!--MULTI COLUMN LOGIN FORM ENDS-->
   
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type="text/javascript">
    	$('#id_username').attr({
    		class:"form-control",
    		placeholder:"Enter Your Username",
    		"aria-label":"Username",
    		"aria-describedby":"basic-addon1",
    		style:"width: 50%;"
    	});
    	$('#id_password').attr({
    		class:"form-control",
    		placeholder:"Enter Your Password",
    		"aria-label":"Password",
    		"aria-describedby":"basic-addon1",
    		style:"width: 50%;"
    	});
    </script>
  </body>
</html>