<!DOCTYPE html>
<html>

<head>
    <title>Cloudinary</title>
    {% load cloudinary %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    {% cloudinary_includes %}
    {% cloudinary_js_config %}
    <script type="text/javascript">
    $(document).ready(function() {
        if ($.fn.cloudinary_fileupload !== undefined) {
            $("input.cloudinary-fileupload[type=file]").cloudinary_fileupload();
        }
        $('.cloudinary-fileupload').bind('cloudinarydone', function(e, data) {  
  $('.preview').html(
    $.cloudinary.image(data.result.public_id, 
      { format: data.result.format, version: data.result.version, 
        crop: 'fill', width: 150, height: 100 })
  );    
  // $('.image_public_id').val(data.result.public_id);    
  console.log(data.result.public_id);    
  return true;
});
    });
    </script>
</head>

<body>
    <form action="{% url "direct_upload_complete" %}" method="post">
        {% csrf_token %}
        {{ direct_form }}
        <input type="submit" value="Submit" />
    </form>
</body>

</html>