<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
{% for key, value in details.items %}
    {{ key }}: {{ value }}<br>
{% endfor %}
{% for course in progress %}
    {% for course_name, stats in course.items %}
    {{course_name}} {{stats.completed_chapter}}/{{stats.total_chapter}}<br>
    {% endfor %}
{% endfor %}
</body>
</html>