{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta content="text/html; charset=utf-8" http-equiv="content-type">

        <title>Quiz Demo</title>

        <link href="{% static 'website/css/reset.css' %}" media="screen" rel="stylesheet" type="text/css">
        <link href="{% static 'website/css/slickQuiz.css' %}" media="screen" rel="stylesheet" type="text/css">
        <link href="{% static 'website/css/master.css' %}" media="screen" rel="stylesheet" type="text/css">
        <script>
		function clickCounter() {
		var abc;
		if(typeof(Storage) !== "undefined"){
		if (localStorage.clickcount) {
		  localStorage.clickcount = Number(localStorage.clickcount)+1;
		} else {
		  localStorage.clickcount = 1;
		}
		}
			if(localStorage.clickcount<3){
				abc=0;
			}
			else if(localStorage.clickcount>3&&localStorage.clickcount<5){
				abc=1;
			}
			else{
				abc=2;
			}
				$.ajax({
                    url: '/logresult/',
                    data: {
                      'logval': abc
                    },
                    dataType: 'json',
                    success: function (data) {
                      if (data.successful) {
                        console.log("Logged");
                      }
                    }
                });
			}
			</script>
    </head>

    <body id="slickQuiz">
        <h1 class="quizName"><!--where the quiz name goes--></h1>

        <div class="quizArea">
            <div class="quizHeader">
                <!-- where the quiz main copy goes -->

                <button onclick="clickCounter()" class="button startQuiz" href="#">Take Quiz</button>
		
		
<!--				<button onclick="clickCounter()" type="button">Click</button>-->
            </div>

            <!-- where the quiz gets built -->
        </div>

        <div class="quizResults">
            <h3 class="quizScore">You Scored: <span><!-- where the quiz score goes --></span></h3>

            <h3 class="quizLevel"><strong>Ranking:</strong> <span><!-- where the quiz ranking level goes --></span></h3>

            <div class="quizResultsCopy">
                <!-- where the quiz result copy goes -->
            </div>
        </div>

        <script src="{% static 'website/js/jquery.js' %}"></script>
        <script src="{% static 'website/js/slickQuiz-config.js' %}"></script>
        <script src="{% static 'website/js/slickQuiz.js' %}"></script>
        <script src="{% static 'website/js/master.js' %}"></script>
    </body>
</html>
