{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% include "website/gtag.html" %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

   
   <!--CUSTOM STYLESHEET-->
   <link rel="stylesheet" href="{% static 'website/css/tasks.css' %}">
   <link rel="stylesheet" href="{% static 'website/css/login.css' %}">
   <link rel="stylesheet" href="{% static 'website/css/starttasks.css' %}">
   
   <!--GOOGLE FONTS-->
   <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
   
   <!--FONT AWESOME ICONS-->
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <title>Course</title>
  </head>
  <body>
    	<!--Contact Section-->
    		<section class="upper_contact_section">
    			<div class="container">
    				<div class="row">
    					<div class="col-md-6 col-lg-6 col-sm-6 col-xs-12" style="padding-top: 10px;">
    						<p>PHONE: <span style="margin-left: 10px;">9820338794</span></p>
    					</div>
    					<div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 text-center" style="padding-top: 10px;">
    						<ul class="float-right">
    							<li><a href="">Follow Us :</a></li>
    							<li><a href=""><i class="fab fa-facebook-f"></i></a></li>
    							<li><a href=""><i class="fab fa-instagram"></i></a></li>
    							<li><a href=""><i class="fab fa-twitter"></i></a></li>
    						</ul>
    					</div>
    				</div>
    			</div>
    		</section>
    	<!--Contact Section endss-->
    
    	<!--NAVBAR START -->
    		<section>
    			<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
				  <div class="container">
				  <a class="navbar-brand" href="#" style=""><img src="{% static 'website/images/logo.png' %}" alt=""></a>
				  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				  </button>
				  <div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item">
                        <a class="nav-link" href="{% url 'course_list' %}">My Courses</a>
                      </li>
					  <li class="nav-item active">
						<a class="nav-link" href="{% url 'index' %}">Back to Home <span class="sr-only">(current)</span></a>
					  </li>

					  <!--<li class="nav-item">
						<a class="nav-link" href="#">My Courses</a>
					  </li>
					  <li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						  Account
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						  <a class="dropdown-item" href="#"><i class="fas fa-user"></i> My Profile</a>
						  <a class="dropdown-item" href="#"><i class="fas fa-chart-line"></i> Learning Journey</a>
						  <a class="dropdown-item" href="#"><i class="fas fa-tasks"></i> Progress</a>
						</div>
					  </li>
					  
					  <li class="nav-item" style="padding-top: 1px;">
					  	<a href=""><button class="btn btn-primary">Login</button></a>
					  </li>
					  <!--<li class="nav-item">
						<a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
					  </li>-->
					</ul>
					<!--<form class="form-inline my-2 my-lg-0">
					  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
					  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
					</form>-->
				  </div>
				  </div>
				</nav>
    		</section>
    	<!--NAVBAR ENDS-->
 
 		
 		<!--START TASK SECTION-->
 			<div class="container" style="margin-top: 30px;">
 				<section id="start-tasks">
 					<div class="container">
 						<section id="task_content">
 						<div class="row">
 							<div class="col-md-10 col-sm-10 col-lg-10 col-xs-10">
 								<h1>{{ name }} (Course C{{ id }})</h1>
 								<h5>Time remaining: <span id="timer"></span></h5>
 								<a href="{% url 'quiz' %}" target="_blank"><button class="btn btn-success">Take Quiz</button></a>
 							</div>
 						</div>
 					</section>
 					</div>
 				</section>
 				<br><br>
 				<section id="start-tasks">
 					<div class="container">
 						<div class="row">
 							<div class="col-md-3 col-sm-3 col-lg-3 col-xs-3">
 								<ul>
 									<ul class="list-group">
 									{% for chapter_name, chapter_data in chapters.items %}
 										<li class="list-group-item" id="task_{{ forloop.counter }}">{{chapter_name}}
 										<span class="float-right tickclass" id="tick_{{ forloop.counter }}" {% if chapter_data.exists is not True %}style="display: none;"{% endif %}><i class="fas fa-check-circle"></i></span></li>
 									{% endfor %}
									</ul>
 								</ul>
 							</div>
 							<div class="col-md-9 col-lg-9 col-sm-12 col-xs-12">
 								<section id="task_content">
 									{% for chapter_name, chapter_data in chapters.items %}
 									<p id="task_{{ forloop.counter }}_display" >{{chapter_data.text}}<br> 
 									<span class="float-right">
 									{% comment %}{% if forloop.last %}
 									<a href="tasks.html" style="text-decoration: none;color: white;"><button class="btn btn-success" id="next_course_1">Finish Course</button></a></p>
 									{% else %}
 									<button class="btn btn-success" id="next_course_{{ forloop.counter }}">Next</button></span>
 									{% endif %}
 									{% endcomment %}
 									<button class="btn btn-success" id="next_course_{{ forloop.counter }}">Mark Complete</button></span>
 									{% endfor %}
 								</section>
 							</div>
 						</div>
 					</div>
 				</section>
 			</div>
 		<!--START TASK SECTION ENDS-->
  		
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
	  </script>
	  
	  <script>
		  $(document).ready(function() {
		  	// var completed_count = console.log($('.tickclass:visible').length);
		  	// var total_count = console.log($('.tickclass').length);
		  	{% for x in chapters %}
		  		$("#task_{{ forloop.counter }}").click(function(){
		  			{% for x in chapters %}
		  			$("#task_{{ forloop.counter }}_display").css("display",{% ifequal forloop.counter forloop.parentloop.counter %}"block"{% else %}"none"{% endifequal %});
		  			{% endfor %}
		  		})
		  	{% endfor %} 
		  	{% for chapter_name, chapter_data in chapters.items %}
		  		$("#next_course_{{ forloop.counter }}").click(function(){
		  			$("#tick_{{ forloop.counter }}").css("display","inline");
		  			$.ajax({
				        url: '/chapter_complete/',
				        data: {
				          'chapter': '{{ chapter_name }}'
				        },
				        dataType: 'json',
				        success: function (data) {
				          if (data.completed_chapter) {
				            alert("Chapter marked as complete");
				            // completed_count++;
				            // if(completed_count === total_count) {
				            // 	window.location.href = "http://127.0.0.1:8000/course_list/";
				            // }
				          }
				        }
				      });
		  			{% for x in chapters %}
		  			$("#task_{{ forloop.counter }}_display").css("display",{% ifequal forloop.counter forloop.parentloop.counter %}"block"{% else %}"none"{% endifequal %});
		  			{% endfor %}
		  		})
		  	{% endfor %}  
		  	// Set the date we're counting down to
			var deadlineDate = new Date("{{ deadline|date:"D, d M Y H:i:s"}}").getTime();
			var countDownDate = new Date(deadlineDate + 330*60000).getTime();
			// Update the count down every 1 second
			var x = setInterval(function() {

			  // Get todays date and time
			  var now = new Date().getTime();

			  // Find the distance between now and the count down date
			  var distance = countDownDate - now;

			  // Time calculations for days, hours, minutes and seconds
			  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
			  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
			  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
			  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

			  // Display the result in the element with id="timer"
			  document.getElementById("timer").innerHTML = days + "d " + hours + "h "
			  + minutes + "m " + seconds + "s ";

			  // If the count down is finished, write some text
			  if (distance < 0) {
			    clearInterval(x);
			    document.getElementById("timer").innerHTML = "EXPIRED";
			  }
			}, 1000);
		  })
	   	
	  </script>
	  
  </body>
</html>