{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% include "website/gtag.html" %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

   
   <!--CUSTOM STYLESHEET-->
   <link rel="stylesheet" href="{% static 'website/css/tasks.css' %}">
   <!--<link rel="stylesheet" href="../css/login.css">-->
   
   <!--GOOGLE FONTS-->
   <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
   
   
   <!--PROGRESS BAR JS-->
   <link rel="stylesheet" type="text/css" href="{% static 'website/css/loading-bar.css' %}"/>
   <script type="text/javascript" src="{% static 'website/js/loading-bar.js' %}"></script>
   
   <!--FONT AWESOME ICONS-->
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <title>Courses</title>
  </head>
  <body>
    
    	<!--Contact Section-->
    		<section class="upper_contact_section">
    			<div class="container">
    				<div class="row">
    					<div class="col-md-6 col-lg-6 col-sm-6 col-xs-12" style="padding-top: 10px;">
    						<p>PHONE: <span style="margin-left: 10px;">9820338794</span></p>
    					</div>
    					<div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 text-center" style="padding-top: 10px;">
    						<ul  class="float-right">
    							<li><a href="">Follow Us :</a></li>
    							<li><a href=""><i class="fab fa-facebook-f"></i></a></li>
    							<li><a href=""><i class="fab fa-instagram"></i></a></li>
    							<li><a href=""><i class="fab fa-twitter"></i></a></li>
    						</ul>
    					</div>
    				</div>
    			</div>
    		</section>
    	<!--Contact Section endss-->
    
    	<!--NAVBAR START -->
    		<section>
    			<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
				  <div class="container">
				  <a class="navbar-brand" href="#" style=""><img src="{% static 'website/images/logo.png' %}" alt=""></a>
				  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				  </button>

				  <div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav ml-auto">

					  <li class="nav-item active">
						<a class="nav-link" href="{% url 'index' %}">Back to Home <span class="sr-only">(current)</span></a>
					  </li>

					  <!--<li class="nav-item">
						<a class="nav-link" href="#">My Courses</a>
					  </li>
					  <li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						  Account
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						  <a class="dropdown-item" href="#"><i class="fas fa-user"></i> My Profile</a>
						  <a class="dropdown-item" href="#"><i class="fas fa-chart-line"></i> Learning Journey</a>
						  <a class="dropdown-item" href="#"><i class="fas fa-tasks"></i> Progress</a>
						</div>
					  </li>
					  
					  <li class="nav-item" style="padding-top: 1px;">
					  	<a href=""><button class="btn btn-primary">Login</button></a>
					  </li>
					  <!--<li class="nav-item">
						<a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
					  </li>-->
					</ul>
					<!--<form class="form-inline my-2 my-lg-0">
					  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
					  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
					</form>-->
				  </div>
				  </div>
				</nav>
    		</section>
    	<!--NAVBAR ENDS-->
 
  		
  				<!--Overall Progress SECTION-->
  				<section id="overall_progress" style="margin-top: 20px;">
  					<div class="container">
  						<div class="row">
  							<div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
  								<h2 ><strong>Overall Progress</strong></h2>
  								<div class="ldBar label-center"
								  style="width:60%;height:60%;margin-top: 20px;"
								  data-value="{{ percentage }}"
								  data-preset="circle"
								></div>
              </div>
                {% if recommended_courses %}
                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                  <h2><strong>Recommended Courses</strong></h2>
                  {% for rc in recommended_courses %}
                  <a href="course/{{ rc.id }}/" target="_blank">{{rc.name}}</a><br>
                  {% endfor %}
  							</div>
                {% endif %}
  						</div>
  					</div>
  				</section>
  				<!--Overall Progress ENDS-->
  		
  		
  			<!--TASKS STARTS HERE-->
  				<section id="courses_for_you">
    			<div class="container">
    				<div class="row">
    					<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12" style="padding-bottom: 20px;">
    						<h2><strong>Courses For You</strong></h2>
    					</div>
    				</div>
    				<div class="row">
              {% for course in al %}
              <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                <div class="card" style="width: 22rem;">
                <img src="{% static 'website/images/course_1.jpg' %}" class="card-img-top" alt="Course 1 Image">
                  <div class="card-body">
                    <h5 class="card-title">{{ course.name }}</h5>
                    <p class="card-text">Course in {{ course.name }}</p>
                    <h6 class="card-text">Difficulty Level : {{ course.difficulty }} </h6>
                    <a href="{% url 'course' course.id %}" class="btn btn-primary btn-block" target="_blank">Continue learning</a>
                  </div>
              </div>
              </div>
              {% endfor %}
              {% for course in cl %}
    					<div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
    						<div class="card" style="width: 22rem;">
								<img src="{% static 'website/images/course_1.jpg' %}" class="card-img-top" alt="Course 1 Image">
								 	<div class="card-body">
										<h5 class="card-title">{{ course.name }}</h5>
										<p class="card-text">Course in {{ course.name }}</p>
                    <h6 class="card-text">Difficulty Level : {{ course.difficulty }} </h6>
										<h6 class="card-text">Number of days to complete : {{ course.no_of_days }} </h6>
										<a href="{% url 'course' course.id %}" class="btn btn-primary btn-block" target="_blank">Start Learning</a>
								  </div>
							</div>
   						</div>
              {% endfor %}
              {% for course in bl %}
              <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                <div class="card" style="width: 22rem;">
                <img src="{% static 'website/images/course_1.jpg' %}" class="card-img-top" alt="Course 1 Image">
                  <div class="card-body">
                    <h5 class="card-title">{{ course.name }}</h5>
                    <p class="card-text">Course in {{ course.name }}</p>
                    <h6 class="card-text">Difficulty Level : {{ course.difficulty }} </h6>
                    <button class="btn btn-primary btn-block">Course Completed</button>
                  </div>
              </div>
              </div>
              {% endfor %}
					</div>
				</div>
    		</section>
  			<!--TASKS ENDS HERE-->
   		
   			
   			
   			
   			
   		
	  
   
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
     
    
  </body>
</html>