 #upper_contact_section
{
	background-color: white;
	color: rgba(0,0,0,0.4);
	border-bottom: 1px solid #EEEEEE;
	font-family: 'Poppins', sans-serif;
	font-size: 12px;
	font-weight: 600;
}
 #upper_contact_section ul li 
{
	display: inline-block;
	padding-right: 20px;
	text-decoration: none;
	list-style: none;
	
}
#upper_contact_section ul li a
{
	color:rgba(0,0,0,0.4);
	transition: color 0.5s;
}
#upper_contact_section ul li a:hover
{
	text-decoration: none;
}
#upper_contact_section i
{
	color:rgba(0,0,0,0.4);
}
#upper_contact_section i:hover
{
	color: black;
}
.navbar-light
{
	background-color: white !important;
}
.navbar
{
	box-shadow: -1px 9px 40px -25px black;
}
.nav-item
{
	padding-right: 20px;
}
.nav-item .nav-link
{
	/*border-bottom: 2px solid white;
	border-radius: 5px;*/
	font-size: 18px;
	transition: color 0.5s;
	padding-right: 2px;
	font-family: 'Poppins', sans-serif;
	color:#CBCBCB;
}
.nav-item .nav-link:hover
{
	/*border-bottom: 2px solid #00AF50;
	border-radius: 5px;*/
	color:black !important;
}
.nav-item button
{
	background-color: #00AF50;
	padding-left: 30px;
	padding-right: 30px;
	border: 1px solid #00AF50;
	box-shadow: 0px 1px 5px -1px black;
	transition: background-color 0.5s,color 0.5s,border 0.5s;
	font-family: 'Poppins', sans-serif;
	/*font-family: 'Montserrat', sans-serif;*/
}

.nav-item button:hover
{
	background-color: white;
	color: #00AF50;
	border: 1px solid #00AF50;	
}
.nav-item button:active:focus
{
	background-color: white !important;
	color: #00AF50 !important;
	border: 1px solid #00AF50 !important;
	box-shadow: none !important;
}
.dropdown
{
	transition: display ease-in-out 3s;
	
}
.dropdown-item
{
	transition: background-color 0.5s,color 0.5s;
}
.dropdown-item:hover
{
	background-color: #00AF50;
	color:white;
}
.dropdown .dropdown-menu 
{
	transition:all 2000ms ease-in;
}
.dropdown:hover .dropdown-menu {
  display: block;
}
#content_text
{
	background-image: url('../images/finalbgbiotech.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	
	
}
#content_text h1
{
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 40px;
	display: block;
	padding-top: 150px;
	margin-bottom: 50px;
	text-transform: capitalize;
	
	
}
#content_text .btn
{
	margin-bottom: 150px;
	background-color: white;
	border:1px solid white; 
	text-align: center;
	border-radius: 4px;
	/*display: block;*/
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	color: black;
	font-weight: 800;
	letter-spacing: 0.3rem;
	line-height: 43px;
	padding-left: 50px;
	padding-right: 50px;
	box-shadow: -1px 9px 40px -10px transparent;
}
#content_text a:hover
{
	color: white;
	text-decoration: none;
}
#content_text .btn:hover
{
	box-shadow: -1px 9px 40px -10px black;
}

#courses_for_you
{
	padding-top: 100px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	padding-bottom: 100px;
	background-color: #F8F8F8;
	
}
#courses_for_you .card
{
	transition: box-shadow 0.5s,border 0.5s;
	border-radius: 10px;
}
.card .btn-primary
{
	background-color: #2e21df;
}
.card .card-title
{
	font-weight: bold;
}
#courses_for_you .card:hover
{
	box-shadow: -1px 9px 40px -15px black;
	border: 1px solid white;
	cursor: pointer;
}
#footer_section
{
	margin-top: 50px;
	background-color: #282828;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 70px;
	font-family: 'Montserrat', sans-serif;
}
#footer_section h4
{
	color: white;
	font-weight: 400;
	padding-bottom: 10px;
	padding-top: 20px;
}
#footer_section p
{
	color: white;
	padding-top: 20px;
}
.hr_line
{
	background-color: white;
	height: 2px;
	width: 20%;
}
#s_content
{
	background-color: white;
	padding: 20px;
	box-shadow: -1px 9px 40px -15px grey;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	
}
#s_content h1
{
	margin-top:20px;
	margin-bottom: 20px;
}