#courses_for_you
{
	padding-top: 50px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	padding-bottom: 100px;
	background-color: #F8F8F8;
	
}
#courses_for_you .card
{
	transition: box-shadow 0.5s,border 0.5s;
	border-radius: 10px;
}
.card .btn-primary
{
	background-color: #2e21df;
}
.card .card-title
{
	font-weight: bold;
}
#courses_for_you .card:hover
{
	box-shadow: -1px 9px 40px -15px black;
	border: 1px solid white;
	cursor: pointer;
}
#overall_progress
{
	font-family:  'Montserrat', sans-serif;
	font-weight: 700;
}